In [1]:
# Imort libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [10]:
# Load filtered_countries.csv file
data = pd.read_csv('C:/Users/s214680/OneDrive - Danmarks Tekniske Universitet/3. Semester/02450 Introduktion til machine learning og data mining/Project/project1_02450/Data/2023-09-08_jennifer_filtered_complete_copy.csv')
data

,age,education-num,hours-per-week,workclass,occupation,income
0,33,13,40,Private,Exec-managerial,<=50K
1,42,9,40,Self-emp-not-inc,Farming-fishing,>50K
2,37,10,75,Self-emp-inc,Exec-managerial,>50K
3,24,10,40,Private,Adm-clerical,<=50K
4,27,10,40,Private,Craft-repair,<=50K
...,...,...,...,...,...,...
315,48,10,40,Private,Craft-repair,>50K
316,27,10,40,Private,Craft-repair,>50K
317,51,16,40,Federal-gov,Prof-specialty,>50K
318,53,15,40,Self-emp-not-inc,Prof-specialty,>50K
319,39,13,40,Federal-gov,Adm-clerical,<=50K

In [4]:
# Extracting attribute columns
age_col = data['age']
edu_num_col = data['education-num']
hpw_col = data['hours-per-week']

In [5]:
# Compute basic summary for age, edu-num and hours-per-week (taken from ex3_2_1.py)
mean_age = age_col.mean()
std_age = age_col.std(ddof=1)
median_age = np.median(age_col)
range_age = age_col.max()-age_col.min()

mean_edu_num = edu_num_col.mean()
std_edu_num = edu_num_col.std(ddof=1)
median_edu_num = np.median(edu_num_col)
range_edu_num = edu_num_col.max()-edu_num_col.min()

mean_hpw = hpw_col.mean()
std_hpw = hpw_col.std(ddof=1)
median_hpw = np.median(hpw_col)
range_hpw = hpw_col.max()-hpw_col.min()

In [7]:
# Display results
print('Basic summary statistics of continuous attributes:')
print('')
print('Age:')
print('Mean:', mean_age)
print('Standard Deviation:', std_age)
print('Median:', median_age)
print('Range:', range_age)
print('')
print('Education number:')
print('Mean:', mean_edu_num)
print('Standard Deviation:', std_edu_num)
print('Median:', median_edu_num)
print('Range:', range_edu_num)
print('')
print('Hours-per-week:')
print('Mean:', mean_hpw)
print('Standard Deviation:', std_hpw)
print('Median:', median_hpw)
print('Range:', range_hpw)
print('')
print('Done basic summary statistics of continuous attributes')

Basic summary statistics of continuous attributes:

Age:
Mean: 37.7
Standard Deviation: 12.937418695699577
Median: 36.5
Range: 73

Education number:
Mean: 10.365625
Standard Deviation: 3.0431699953649765
Median: 10.0
Range: 15

Hours-per-week:
Mean: 39.571875
Standard Deviation: 11.231441938121943
Median: 40.0
Range: 98

Done basic summary statistics of continuous attributes